 

body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	margin:0;
	padding:0;
	background: #efefef;
	font: 100% $font-stack;
    color: $primary-color;
	 
}
 header{
      padding-left: 300px;
    }

.side-nav .userView{

	background-image:url(images/office.jpg);
	color: #000 !important;
}

footer {
        padding-left: 0;
      }

                                                                                                                                                                                 
main {
    flex: 1 0 auto;
  }
 
 
    
nav a.button-collapse {
    display: inherit;
} 


.col-md-3{
    width:25%
}
.col-md-2{
    width:16.66666667%
}
* {
    transition: .5s;
}


#side-nav-clear{

  position: absolute;
  z-index: 1;
  right:0;
}

